.changeInputAqua {
    background-color: aquamarine;
    color: rgb(75, 28, 28);
  }

  .changeInputViolet {
    background-color: blueviolet;
    color: rgb(244, 247, 247);
  }
  
  .resetInputs::placeholder {
    background-color: rgb(226, 76, 43);
    color: rgb(44, 4, 4);
  }

  .resetInputs {
    background-color: rgb(226, 76, 43);
    color: rgb(138, 21, 21);
  }

  .changeButton {
    background-color: rgb(186, 214, 114);
    color: rgb(88, 52, 9);
  }